error_log /dev/stdout info;
events {}
http {
	access_log         /dev/stdout;
	include            /etc/nginx/mime.types;
	default_type       application/octet-stream;
	keepalive_timeout  65;
	add_header X-Content-Type-Options nosniff;
		server {
			listen              {{ .Port }} ssl;
			listen              [::]:{{ .Port }} ssl;
			ssl_certificate     /var/serving-cert/tls.crt;
			ssl_certificate_key /var/serving-cert/tls.key;
{{- if .SSLProtocols }}
			ssl_protocols       {{ .SSLProtocols }};
{{- end }}
{{- if .SSLCiphers }}
			ssl_ciphers         {{ .SSLCiphers }};
{{- end }}
			root                /usr/share/nginx/html;

			# Prevent caching for plugin-manifest.json and plugin-entry.js
			# to avoid "Unexpected end of JSON input" error
			location = /plugin-manifest.json {
			  add_header Cache-Control 'no-cache, no-store, must-revalidate, proxy-revalidate, max-age=0';
			  add_header Pragma 'no-cache';
			  add_header Expires '0';
			}
			location = /plugin-entry.js {
			  add_header Cache-Control 'no-cache, no-store, must-revalidate, proxy-revalidate, max-age=0';
			  add_header Pragma 'no-cache';
			  add_header Expires '0';
			}
        }
	}
